<h1>Secrets</h1>
<% @secrets.each do |secret| %>
    # Secret Content that everyone can see
    <p><%= secret.content %></p>
    <a name="like" id="like" class="btn btn-primary" href="/secrets/<%= secret.id %>" role="button">Like</a>
    <% if current_user == secret.user %>
    # Secret Content that only the User that created that secret can see. 
    <a name="secret_delete" id="secret_delete" class="btn btn-warning" href="/secrets/<%= secret.id %>" role="button">Delete</a>
    <% end %>
<% end %>
