<h1>Secrets</h1>
<% @secrets.each do |secret| %>
<!-- # Secret Content that everyone can see -->
    <div class="row">
        <div class="col-6">
            <p><%= secret.content %></p>
            <p><%= secret.likes.count %> likes</p>
        </div>
        <div class="col-3">
            <a name="like" id="like" data-method="patch" class="btn btn-primary" href="/secrets/<%= secret.id %>" role="button">
                <% if secret.likes.count > 0 %>
                    <% secret.likes.any? do |like| %>
                        <% like.user_id == current_user.id%>
                            Unlike
                    <%end%>
                <%else%>
                    Like
                <%end%>
            </a>
            <% if current_user == secret.user %>
                <!-- # Secret Content that only the User that created that secret can see.  -->
                <a name="secret_delete" id="secret_delete" data-method="delete" class="btn btn-warning" href="/secrets/<%= secret.id %>" role="button">Delete Secret</a>
            <% end %>
            <br>
        </div>
    </div>
<% end %>
